@import '../../colors';

.menu {
  background: var(--theme-color-darker);
  padding: 7px 0;

  .logo {
    align-items: center;

    img {
      margin-right: 0.4em;
      width: 20px;
    }

    span {
      font-family: 'Source Code Pro', monospace;
      font-size: 16px;
      color: var(--theme-cta-color);
    }

    a {
      text-decoration: none;
    }
  }

  .menu-icon {
    justify-content: space-between;

    .user-icon {
      border-radius: 50%;
      height: 30px;
      object-fit: cover;
      width: 30px;
    }

    .user-name {
      margin: 0 10px;
    }

    > .menu-toggler {
      align-items: center;
      cursor: pointer;
    }
  }

  .side-navigation {
    background: var(--theme-color-darker);
    border-radius: 10px;
    margin-top: 10px;
    max-width: 180px;
    padding: 10px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;

    &--item {
      margin: 10px 0;

      a {
        text-decoration: none;
      }

      svg {
        margin-right: 10px;
      }
    }
  }
}
