@import './colors';


a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
}

body {
  line-height: 1
}

p, div, span, a {
  font-size: 12px;
}

ol, ul {
  list-style: none
}

.d-flex {
  display: flex;
}

.p-relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

body {
  background: var(--theme-color);
}

p, div, a, span {
  color: var(--theme-text-color);
}

.container {
  max-width: 700px;
  width: calc(100% - 50px);
  margin: auto
}

.app-container {
  padding: 40px 0;
  height: calc(100vh - 124px);
  border-right: 1px solid var(--theme-color-darker);
  border-left: 1px solid var(--theme-color-darker);
}

@for $i from 1 through 10 {
  .col-#{$i}0 {
    flex: 1 1 #{$i}0%;
  }
}